@import 'bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* dimensions */
.ms_h-100vh{
    height: 100vh;
}

.ms_h-50px{
    height: 50px;
}

.ms_h-100px{
    height: 100px;
}

.ms_h-250px{
    height: 250px;
}

.ms_h-500px{
    height: 500px;
}

.ms_w-100x{
    width: 100%;
}

.ms_w-75x{
    width: 75%;
}

.ms_w-50x{
    width: 50%;
}

.ms_w-25x{
    width: 25%;
}
